body {
    margin: 0;
}
/*.cardsBox {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;

}*/
.grid {
    width: 640px;
    height: 500px;
    display: grid;
    flex-wrap: wrap;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    border-radius: 25px;
    background: rgba(50, 224, 214, 0.23);
    
}

.card {
    width: 100px;
    height: 120px;
    border: 2px solid;
    border-radius: 10px;
    margin: auto; 
}

.frontCard {
    max-height: 100%;
    width: 100%;
    display: flex;
}

.mononokeBg{
    background-image: url('./img/fondoprincesa.png');
    background-repeat: no-repeat;
    display: grid;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.logo {
    height: 80px;
    width: 400px;
    margin-top: 20px;

}
.scoreBox{
    background: rgba(50, 224, 214, 0.23);
    border-radius: 25px;
    height: 500px;
    width: 300px;
}