body {
    background-color: #ffc300;
}
.contenedor-index {
  width: 1300px;/*ancho de un elemento*/
  height: 690px;/*altura de un elemnto */
  display: flex;/*Los elementos se distribuyen de izquierda a derecha*/
  justify-content: center;/* distribuye el espacio entre y alrededor de los items flex*/
  position:absolute;/*posicionar elementos de manera absoluta*/
  text-align: center; /*alineacion del texto en el centro*/
}

.contenedor-titulo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*fuentes del texto*/
    font-size: 50pt;/*dimension de letras*/*
    color : #581845;
    text-align: center;
    margin: 0 ;
    position: relative;
  
}